.page-main__title {
  @include resetH;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
  margin-bottom: 22px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.page-main__top-wrapper {
  padding-top: 31px;
  color: white;
  margin-bottom: 21px;
}

.page-main {
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: top 0 center;
}

@media(min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    width: 532px;
    text-align: left;
    margin-bottom: 35px;
  }

  .page-main__top-wrapper {
    padding-top: 51px;
    color: #000;
  }

  .page-main {
    background-image: none;
  }

  .page-main__offers  {
    margin-bottom: 53px;
  }
}

@media(min-width: $desktop-width) {

  .page-main__top-wrapper {
    padding-top: 100px;
    color: #000;
    background-image: url("../img/index-can-desktop.png");
    background-repeat: no-repeat;
    background-position: left 37.8vw top 14px;
    margin-bottom: 101px;
  }

  .page-main__title {
    margin-left: 9.2vw;
    width: 460px;
  }

  .page-main__offers  {
    margin-bottom: 82px;
  }
}
