.page-main__title {
  @include resetH;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
  margin-bottom: 22px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.page-main__top-wrapper {
  padding-top: 31px;
  color: white;
  margin-bottom: 21px;
}

.page-main {
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: top 0 center;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-main {
    background-image: url("../img/index-background-mobile-2x.png");
    background-size: 320px auto;
  }
}

.page-main__map {
  min-height: 360px;
  background-image: url("../img/map-pin.png"), url("../img/map-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 45%, 59% 0;
  background-size: 55px 53px, 835px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-pin-2x.png"), url("../img/map-mobile-2x.jpg");
  }
}

.page-main__partners {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    width: 532px;
    text-align: left;
    margin-bottom: 35px;
  }

  .page-main__top-wrapper {
    padding-top: 43px;
    color: #000;
  }

  .page-main {
    background-image: none;
  }

  .page-main__offers  {
    margin-bottom: 53px;
  }

  .page-main__partners {
    padding-top: 64px;
    padding-bottom: 58px;
  }

  .page-main__map {
    min-height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/map-tablet.jpg");
    background-position: 50% 49%, 50% 0;
    background-size: 113px 106px, 1495px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin-2x.png"), url("../img/map-tablet-2x.jpg");
    }
  }

}


@media (min-width: $desktop-width) {

  .page-main__top-wrapper {
    padding-top: 100px;
    color: #000;
    background-image: url("../img/index-can-desktop.png");
    background-repeat: no-repeat;
    background-position: left 37.8vw top 14px;
    margin-bottom: 101px;
  }

  .page-main__title {
    margin-left: 9.2vw;
    width: 460px;
  }

  .page-main__offers  {
    margin-bottom: 82px;
  }

  .page-main__map {
    min-height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/map-desktop.jpg");
    background-position: 79% 52%, 50% 0;
    background-size: 113px 106px, 1545px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin-2x.png"), url("../img/map-desktop-2x.jpg");
    }
  }

  .page-main__location__wrapper {
    position: relative;
  }

  .page-main__partners {
    position: absolute;
    background-color: white;
  }
}
