@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/oswald-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/oswald-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Demi Bold';
  src: url('../fonts/oswald-demibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Heavy';
  src: url('../fonts/oswald-heavy-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.page-header__logo-title {
  font-family: "Oswald Heavy";
  font-weight: 700;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
